.btn-orange {
    background-color: var(--bs-orange);
    border-color: var(--bs-orange);
    color: var(--bs-white);
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: var(--bs-white);
    border-color: var(--bs-white);
    color: var(--bs-orange);
}

.display-xxl {
    font-size: 18rem;
    line-height: 17rem;
    font-weight: lighter;
}

.stepper-menu-item {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.stepper-icon {
    padding: 6px 10px;
    border-radius: 5em;
    color: var(--bs-secondary);
    border: 2px solid var(--bs-secondary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease-in-out;
}

.stepper-menu-item.active,
.stepper-menu-item:hover {
    color: var(--bs-primary);
}

.stepper-menu-item.active .stepper-icon,
.stepper-menu-item:hover .stepper-icon {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
