.btn-orange {
  background-color: var(--bs-orange);
  border-color: var(--bs-orange);
  color: var(--bs-white);
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
}

.display-xxl {
  font-size: 18rem;
  line-height: 17rem;
  font-weight: lighter;
}

.mt-n7 {
  margin-top: -1rem;
}